# Pandas Lab

### Read in the CSV file from a URL

In [1]:
import pandas as pd

In [2]:
drinks = pd.read_csv('https://raw.githubusercontent.com/misrab/SG_DAT1/master/data/drinks.csv', na_filter=False)

### 1. Show the first 18 rows of drinks

In [3]:
drinks.head(18)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NA
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU
8,Australia,261,72,212,10.4,OC
9,Austria,279,75,191,9.7,EU
10,Azerbaijan,21,46,5,1.3,EU
11,Bahamas,122,176,51,6.3,NA
12,Bahrain,42,63,7,2.0,AS
13,Bangladesh,0,0,0,0.0,AS
14,Barbados,143,173,36,6.3,NA
15,Belarus,142,373,42,14.4,EU
16,Belgium,295,84,212,10.5,EU
17,Belize,263,114,8,6.8,NA

### 2. Create a variable called beer_servings and use it to store the beer_servings column

In [4]:
beer_servings = drinks.beer_servings

### 3. Display a dataframe where the only rows are those with continent North America

In [5]:
drinks[drinks.continent == 'NA'].sort_index(by = 'spirit_servings')

/Users/Misrab/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
109,Mexico,238,68,5,5.5,NA
69,Guatemala,53,69,2,2.2,NA
54,El Salvador,52,69,2,2.2,NA
41,Costa Rica,149,87,11,4.4,NA
84,Jamaica,82,97,9,3.4,NA
74,Honduras,69,98,2,3.0,NA
130,Panama,285,104,18,7.2,NA
17,Belize,263,114,8,6.8,NA
122,Nicaragua,78,118,1,3.5,NA
32,Canada,240,122,100,8.2,NA
5,Antigua & Barbuda,102,128,45,4.9,NA
43,Cuba,93,137,5,4.2,NA
51,Dominican Republic,193,147,9,6.2,NA
174,Trinidad & Tobago,197,156,7,6.4,NA
184,USA,249,158,84,8.7,NA
14,Barbados,143,173,36,6.3,NA
11,Bahamas,122,176,51,6.3,NA
143,St. Kitts & Nevis,194,205,32,7.7,NA
145,St. Vincent & the Grenadines,120,221,11,6.3,NA
50,Dominica,52,286,26,6.6,NA
144,St. Lucia,171,315,71,10.1,NA
73,Haiti,1,326,1,5.9,NA
68,Grenada,199,438,28,11.9,NA

### 4. Create a new dataframe called north_america that holds your answer in 1.

*drinks (the original dataframe) should remain unchanged*

In [6]:
north_america=drinks[drinks.continent=='NA']
north_america.head(5)

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
5,Antigua & Barbuda,102,128,45,4.9,NA
11,Bahamas,122,176,51,6.3,NA
14,Barbados,143,173,36,6.3,NA
17,Belize,263,114,8,6.8,NA
32,Canada,240,122,100,8.2,NA

### 5.  What is the average wine consumption per person per year in Africa?

In [7]:
drinks.wine_servings[drinks.continent == 'AF'].mean()

drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

### 6.  Show a list of the top 10 spirit drinking countries.

In [12]:
spirits = drinks[['country', 'spirit_servings']]
spirits.sort_index(by='spirit_servings', ascending=False).head(10)

/Users/Misrab/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

                country  spirit_servings
68              Grenada              438
15              Belarus              373
73                Haiti              326
141  Russian Federation              326
144           St. Lucia              315
72               Guyana              302
155            Slovakia              293
50             Dominica              286
169            Thailand              258
40         Cook Islands              254

### 7.  What is the average wine consumption in South America?

In [23]:
drinks.wine_servings[drinks.continent=='SA'].mean()

62.416666666666664

In [15]:
drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,3258,866,862,159.4
AS,1630,2677,399,95.5
EU,8720,5965,6400,387.8
NA,3345,3812,564,137.9
OC,1435,935,570,54.1
SA,2101,1377,749,75.7

### 8.  Which continent has the highest on average wine consumption?

In [19]:
drinks[['wine_servings','continent']].groupby('continent').wine_servings.mean().sort_values(ascending=False).head(5)

continent
EU    142.222222
SA     62.416667
OC     35.625000
NA     24.521739
AF     16.264151
Name: wine_servings, dtype: float64

In [44]:
drinks.groupby('continent').wine_servings.mean().sort_values(ascending=False).iteritems().next()

('EU', 142.22222222222223)

In [35]:
maxMean = drinks.groupby('continent').wine_servings.mean().sort_values(ascending=False).head(1)